<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 全局别名 -->
    <typeAliases>
        <package name="java.lang"/>
        <package name="java.util"/>
        <package name="com.tim.route.admin.bean.model"/>
        <package name="com.tim.route.user.bean.model"/>
        <package name="com.tim.route.friend.bean.model"/>
        <package name="com.tim.route.group.bean.model"/>
    </typeAliases>
</configuration>

